.login-container{
    -fx-background-color: #e7e7e7;
}

.login-logo-container{
    -fx-background-color: linear-gradient(to bottom,rgb(124, 65, 3), #925500);
    -fx-alignment:center;
}
.login-logo-container Text{
    -fx-font-size : 2em;
    -fx-fill:#FFFFFF;
}

.login-logo-container Icon{
    -fx-fill : #FFFFFF;
}

/*  Login form styles */
.login-form-containter{
    -fx-spacing : 15;
    -fx-alignment:top_left;
}
.login-form-containter Label{
    -fx-font-size: 1.1em;
    -fx-text-fill: #704700;
    -fx-font-weight:bold;
}
.input-login{
    -fx-background-color:#dadada;
    -fx-pref-height : 35;
    -fx-font-size: 1.2em;
}

.login-form-containter Button{
    -fx-background-color: #584830;
    -fx-text-fill :#FFFFFF;
    -fx-pref-height:30;
    -fx-font-size:1.2em;
}

.login-form-containter Button:hover{
    -fx-cursor: hand;
    -fx-background-color: #715124;
}
.error-label{
    -fx-text-fill :#FF0000;
}

